<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>共通ヘッダー</title>

</head>
<body>
<div th:fragment="header">
 <style>
    .app-header {
        width: 100%;
        height: 70px;
        background-color: #a59aca;
        border-bottom: 2px solid #001e43 ; 
        padding: 16px;
        box-sizing: border-box;
    }
    
    .app-header-title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        -webkit-text-stroke: 0.7px #0f2350;
        font-weight: bold;
        color: white;
        text-align: left;
        margin: 0;
    }
</style>
<header class="app-header">
    <h1 class="app-header-title">StudyTracker</h1>
</header>
</biv>
</body>
</html>